html {
    font-family: Helvetica; color: #ffffff;
    background-color: #6797ff;
  }
  
  .container {
    max-width: 1100px;
    background-color: #000333;
    position: relative;
    margin: 60px auto;
    padding: 10px 50px;
  
  }
  
  /* header */
  .header {
    text-align: center;
  }
  
  .main-title {
    font-size: 30px;
  }
  
  
  /* Imagem destaque */
  .featured-image {
    text-align: center;
    margin-top: 30px;
  }
  
  /* Biografia */
  .biography-container {
    padding: 25px 0;
    margin: 25px 0;
  }
  
  .members-container {
    padding: 25px 0;
    margin: 25px 0;
    position: sticky;
    top: 0;
    
  }
  /* Quotes */
  .quotes-container {
    background-color: #6797ff;
    padding: 10px;
  }
  
  .quotes-container blockquote {
    font-weight: bold;
    font-size: 20px;
  }
  
  .quotes-container p {
    font-style: italic;
  }
  
