/* 4 - External Css */

h3 {
    color: gold;
}

body {
    padding-bottom: 500px;
}

.paragraph {
    background-color: #000;
    color: aqua;
    padding: 5px;
}

#exclusive-title {
    background-color: purple;
    color: yellow;
    padding: 10px;
}

/* Background */
.bg {
    background-color: #000;
    color: yellow;
  }
  
  .bg-2 {
    background-color: rgb(200, 20, 40);
    color: #00eaff;
  }
  
  /* Background opacity */
  .bg-opacity {
    background-color: green;
    opacity: 0.2;
  }
  
  .bg-opacity-2 {
    background-color: #999;
    color: #000;
    opacity: 0.8;
  }
  
  /* RGBA com opacidade */
  .rgba-opacity {
    background-color: rgba(90, 120, 20, 0.2);
    color: #000;
  }
  
  /* BG image */
  .bg-image {
    background-image: url("../img/Captura\ de\ tela\ 2023-05-18\ 141336.png");
    padding: 10px;
    color: #fff;
  }
  
  /* Centralizando bg image */
  .not-centered-bg,
  .centered-bg {
    height: 400px;
    width: 400px;
    background-image: url("../img/Captura\ de\ tela\ 2023-05-18\ 141336.png");
  }
  
  .centered-bg {
    background-position: center;
    background-size: cover;
  }

  /* largura e altura */
  .height-width {
    height: 200px;
    width: 100px;
    background-color: red;
  }

  .height-width-2 {
    height: 300px;
    background-color: #00eaff;
  }

  /* Padding */
  .without-padding,
  .padding {
    background-color: black;
    color: white;
  }

  .padding {
    background-color: #333;
    padding: 20px;
  }

  /* Padding individual */
.padding-individual {
  background-color: #222;
  color: #fff;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 40px;
}

/* Shorthand padding */
.shorthand-padding {
  background-color: #444;
  padding: 6px 12px 18px 24px;
}

.shorthand-padding-2 {
  background-color: #555;
  padding: 10px 20px;
  /* padding: 10px 20px 10px 20px; */
}

/* Padding com width */
.without-border-box {
  background-color: #444;
  color: #fff;
  width: 400px;
  padding: 50px;
}

.border-box {
  background-color: #666;
  color: #fff;
  width: 400px;
  padding: 50px;
  box-sizing: border-box;
}

/* Border */
.border {
  border: 5px solid red;
  padding: 10px;
}

.border-2 {
  border: 2px dotted #931;
  padding: 25px;
}

/* Borda individual */
.border-left {
  border-left: 3px solid red;
  background-color: #222;
  padding: 25px;
}

.border-bottom {
  border-bottom: 5px double #399;
  background-color: #222;
  padding: 20px;
}

/* Borda arredondada */
.rounded-p {
  border: 4px solid blue;
  background-color: #000;
  color: blue;
  padding: 15px;
  border-radius: 15px;
}

.rounded-p-2 {
  background-color: #000;
  color: blue;
  padding: 15px;
  border-radius: 25px;
}

/* margem */
.margin {
  margin: 10px;
  background-color: #222;
}

.margin-top {
  margin-top: 50px;
  background-color: #444;
  padding: 10px;
}

.margin-shorthand {
  background-color: #666;
  margin: 5px 10px 15px 20px;
}

/* Box model */
.box-model {
  margin: 20px;
  padding: 15px 25px;
  border: 3px solid #845;
  border-radius: 7px;
  width: 200px;
  height: 400px;
}

/* Desafio 3
1- Crie um elemento que tenha todas as propriedades do box model para a classe box-model-2
2- Tente inserir diferentes cores, para destacar áreas
3- Insira um testo no elemento com a tag h2
4 Mudar cor de fundo do texto
5- O elemento do box model deve ter um id, o texto uma classe
6- adicionar uma regra chamada outline, com o mesmo valor da propriedade border, apenas com cor diferente */

.box-model-2 {
  margin: 20px;
  padding: 15px 25px;
  border: 3px solid #845;
  border-radius: 7px;
  width: 200px;
  height: 65px;
  background-color: #000;
  color: #fff;
  outline: 3px solid #f00;
}

/* Text align */
.text-aligned {
  text-align: right;
}

.container-center {
  text-align: center;
  width: 300px;
  border: 1px solid red;
}

/* Text decoration */
.underline {
  text-decoration: underline;
}

.line-trough {
  text-decoration: line-through;
}

.remove-underline {
  text-decoration: none;
  color: red;
}

/* text transform */
.upper {
  text-transform: uppercase;
}

.lower {
  text-transform: lowercase;
}
/* letter spacing */
.spacing {
  letter-spacing: 5px;
}
/* Fontes */
.serif {
  font-family: Georgia;
}

.sans-serif {
  font-family: Helvetica;
}

.monospace {
  font-family: Courier;
}

.cursive {
  font-family: cursive;
}

.fantasy {
  font-family: fantasy;
}
/* Text style */
.italic {
  font-style: italic;
}

.oblique {
  font-style: oblique;
}

/* font weight */
.thin,
.bold,
.bolder {
  font-family: Helvetica;
}

.thin {
  font-weight: 100;
}

.bold {
  font-weight: 600;
}

.bolder {
  font-weight: 900;
}

/* Font size */
.small {
  font-size: 6px;
}

.big {
  font-size: 78px;
}

/* Display */
.inline-box {
  width: 50px;
  height: 50px;
  background-color: #4f8;
  margin: 10px;
  display: inline-block;
}

.block {
  background-color: #333;
  display: block;
  margin: 10px;
}

.invisible {
  display: none;
}